* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
body {
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    font-family: Calibri, Arial, sans-serif;
}
.body_show {
    opacity: 1;
}

input[type="file"] {
    display: none;
}

.welcome {
    padding-top: 100px;
    background: url("../img/girl-big.jpg") no-repeat center center;
    background-size: cover;
    padding-left: 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.welcome__t {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 100px;
}
.welcome__t__row {
    display: block;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 0;
}
.welcome__t__row_i0 {
    -webkit-transform: translate(60px);
    -moz-transform: translate(60px);
    -ms-transform: translate(60px);
    -o-transform: translate(60px);
    transform: translate(60px);
}
.welcome__t__row_i1 {
    -webkit-transform: translate(120px);
    -moz-transform: translate(120px);
    -ms-transform: translate(120px);
    -o-transform: translate(120px);
    transform: translate(120px);
}
.welcome__t__row_i2 {
    white-space: nowrap;
    -webkit-transform: translate(180px);
    -moz-transform: translate(180px);
    -ms-transform: translate(180px);
    -o-transform: translate(180px);
    transform: translate(180px);
}
.welcome__t__row_show {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
    opacity: 1;
}
.welcome__bt {
    background: #e80000;
    width: 420px;
    display: block;
    height: 65px;
    line-height: 65px;
    color: #fff;
    text-align: center;
    font-size: 31px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    cursor: pointer;
    box-shadow: inset 0 0 17px 4px rgba(0,0,0,0.1),0 1px 1px 1px rgba(0,0,0,0.3);
}
.welcome__bt_show {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.welcome__bt:hover {
    background: #ff000e;
}

@-webkit-keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

.hvr-buzz {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
.hvr-buzz:hover, .hvr-buzz:active {
    -webkit-animation-name: initial;
}

.result {
    z-index: 1;
    position: absolute;
    background: #f8f8f8;
    height: 100%;
    width: 100%;
    top: 100%;
    -webkit-transition: top .5s;
    -moz-transition: top .5s;
    -ms-transition: top .5s;
    -o-transition: top .5s;
    transition: top .5s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
.result_show {
    top: 0;
}
.result__markup {
    height: 100%;
}
.result__markup > * {
    position: absolute;
    border: 4px solid #9FB0AB;
    padding: 3px;
}
.result__markup button {
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    background: #efc5ca; /* Old browsers */
    background: -moz-linear-gradient(top,  #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efc5ca), color-stop(50%,#d24b5a), color-stop(51%,#ba2737), color-stop(100%,#f18e99)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* W3C */
}
.result__markup h1 {
    border-style: dotted;
    text-align: center;
}
.menu {
    position: absolute;
    top: 10px;
    right: 10px;
}

input[type=radio], input[type=checkbox] {
    display:none;
}

input[type=radio] + label, input[type=checkbox] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

input[type=radio]:checked + label, input[type=checkbox]:checked + label{
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    background-color:#e0e0e0;
}
.copy {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(0,0,0,0.75);
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.copy_show {
    z-index: 2;
    opacity: 1;
}
.copy-popover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 600px;
    height: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.copy-popover__ta {
    resize: none;
    width: 100%;
    height: 300px;
}
.copy-popover__t {
    text-align: center;
}
.copy-popover-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
}
.result__back {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: none;
}
.start_btn {
    border: 0;
    padding: 0;
    background: url(../img/mic.gif);
    width: 50px;
    height: 50px;
    cursor: pointer;
    vertical-align: top;
    position: absolute;
    right: 0;
    bottom: 0;
}